<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="deleteModal">
  <!-- Modal Window -->
  <div class="modal fade" id="deleteListBackdrop" tabindex="-1" aria-labelledby="deleteListLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #f1b24a">
        <div class="modal-header" style="background-color: #f1b24a">
          <img src="/MyThymeUpdatedLogo.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy"/>
          <h5 class="modal-title" id="deleteListLabel" style="color: #ffffff">Please Confirm</h5><!--Modal title-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this list?
        </div>
        <div class="modal-footer" style="background-color: #f1b24a">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #164A41">Close</button>
          <!--          <button type="button" class="btn btn-danger delete buttonClass deleteMe">Clear</button>-->
          <a th:href="@{/groceryLists}" class="btn btn-danger delete buttonClass deleteMe" data-delete-list-button>Delete</a>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>