<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="fluid-container footer-container" style="background-color: steelblue">
  <footer class="footer fluid-block">

    <div class="footer-sections">
      <h5>On this site</h5>
      <ul class="footer-sections-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Download</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-sections">
      <h5>External Links</h5>
      <ul class="footer-sections-links">
        <li><a href="#">Forum</a></li>
        <li><a href="#">Follow us on Twitter</a></li>
        <li><a href="#">Fork us on github</a></li>
        <li><a href="#">Future goals</a></li>
      </ul>
    </div>

  </footer>
  <div class="copyright fluid-block">Copyright © MyThyme Llc</div>
</div>
</html>