<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <img src="https://lh3.googleusercontent.com/proxy/gVtlpmKGmwgxR05VW5htjiTj4aFpaSxRwsyoZvNsRyr6p3-4FrA0hjO-n_Tq95f23xJPos_VQrETJPmdT7xyojcJo-A6wvEIN_HVhonrel14qSHc1IcOz92lDaKxhIH0aLkoezVm9USFPP2UgNuEBVeGYlvkPB3LjSJP"
         alt="test_image">
    <header th:fragment="head"></header>

</head>
<body>

</body>
</html>