

<!-- TODO Everything below is FOR TESTING PURPOSES ONLY AT THIS TIME-->
<!-- PRACTICTE NAVBAR TO ATTEMPT FOR CSS LAYOUT OF MYTHYME SITE!!! -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/navbar.css">
  <title>Navbar</title>

</head>

<body>
<!-- ****** New adjusted navbar template ****** -->
<nav th:fragment="navbar" class="navbar navbar-dark navbar-expand-lg" style="background: #f1b24a;">
  <!--Authenticated User-->
  <div>
    <!-- Logo Img & Name-->
    <img src="/MyThymeUpdatedLogo.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy" th:href="@{/}"/>
<!--    <a class="navbar-brand" >MyThyme</a>-->
  </div>
  <div sec:authorize = "isAuthenticated()" class="mr-auto" style="display: flex">
<!--    &lt;!&ndash; Logo Img &ndash;&gt;-->
<!--    <img src="/MyThymeUpdatedLogo.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy"/>-->
<!--    <a class="navbar-brand" th:href="@{/}">MyThyme</a>-->

    <!-- search bar below -->
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Explore 1000's of recipes" aria-label="Search" name="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: #f1b24a">Search</button>
    </form>
<!--    <form class="form-inline my-2 my-md-0">-->
<!--      <input class="form-control" type="text" placeholder="Explore 1000's of recipes" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: #f1b24a">Search</button>-->
<!--    </form>-->
    <!-- hamburger button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myThymeAuth" aria-controls="myThymeAuth" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myThymeAuth"> <!--id="navbarsExample01"-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">More</a>
          <div class="dropdown-menu" style="background-color:#f1b24a" aria-labelledby="dropdown01">
            <a class="dropdown-item" th:href="@{/groceryLists}">Grocery List</a>
            <a class="dropdown-item" th:href="@{/user/favorites}">Favorites</a>
            <a class="dropdown-item" th:href="@{/recipes}">Recipes</a>
            <a class="dropdown-item" th:href="@{/messages}">Messages</a>
<!--            <a class="dropdown-item" th:href="@{/coupons}">Coupon</a>-->
            <a class="dropdown-item" th:href="@{/profile}">My Profile</a>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <form class="nav-link" th:action="@{/logout}" th:method="post" style="background: #f1b24a; padding: 0;">
            <button class="nav-link btn" style="margin-top: 0px; background: #f1b24a; color: white">Logout</button><!-- th:href="@{/login}"-->
          </form>
        </li>
      </ul>
    </div>
  </div>


  <div sec:authorize = "!isAuthenticated()" class="mr-auto" style="display: flex">
    <!--hamburger nav button-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myThymeNotAuth" aria-controls="myThymeNotAuth" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--hamburger nav section-->
    <div class="collapse navbar-collapse" id="myThymeNotAuth">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
        </ul>
      </div>

      <div>
        <ul class="navbar-nav">
          <!-- dropdown nav link-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">More</a>
            <div class="dropdown-menu" style="background-color:#f1b24a" aria-labelledby="dropdown01">
              <a class="dropdown-item" th:href="@{/login}">Grocery List</a>
              <a class="dropdown-item" th:href="@{/recipes}">Recipes</a>
              <a class="dropdown-item" th:href="@{/sign-up}">Sign up</a>
            </div>
          </li>
        </ul>
      </div>

      <div>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link btn" th:href="@{/login}">Login</a>
          </li>
        </ul>
      </div>
    </div>


  <!-- Search bar-->
  <div>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Explore 1000's of recipes" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white; background-color: #164A41">Search</button>
    </form>
  </div>

</nav>

</body>
</html>
