<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <!--    <div th:replace="partials/header::"></div>-->
    <link rel="stylesheet" href="/css/page-layout.css">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Edit Your Profile Information Here</h1>

<div class="justify-content-center">
    <form th:action="@{|/profile/edit/${id}|}" th:method="post" th:object="${loggedInUser}">
        First Name:
        <label for="firstname">
            <input name="firstname" id="firstname" th:field="*{firstName}"/>
        </label><br>
        Last Name:
        <label for="lastName">
            <input name="lastName" id="lastName" th:field="*{lastName}"/>
        </label><br>
        Email:
        <label for="email">
            <input name="email" id="email" th:field="*{email}"/>
        </label><br>
        Username:
        <label for="username">
            <input name="username" id="username" th:field="*{username}"/>
        </label><br>
        Bio:
        <label for="bio">
            <input name="bio" id="bio" th:text="*{bio}"/>
        </label><br>
        <button type="submit" style="background-color: #164A41; color: #ffffff">Save Changes</button>
    </form>

</div>


<div th:replace="partials/footer::footer"></div>
</body>
</html>