<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/header :: head">
    <meta charset="UTF-8">
    <title>Location</title>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div sec:authorize="isAuthenticated()">
<h1>Enter your location here:</h1>
<form th:action="@{/location}" method="post" th:object="${location}">

    <label for="address_one">Address One</label>
    <input id="address_one" th:field="*{address_one}" />

    <label for="address_two">Address Two</label>
    <input id="address_two" th:field="*{address_two}" />

    <label for="city">City</label>
    <input id="city" th:field="*{city}" />

    <label for="state">State</label>
    <input id="state" th:field="*{state}" />

    <label for="zipcode">Zipcode</label>
    <input id="zipcode" th:field="*{zipcode}" />

    <input value="Enter location" type="submit" />
</form>
</div>

<div th:fragment="footer"></div>
<!--th:fragment= "partials/footer::footer"-->
</body>
</html>