<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="partials/header :: head">
    <meta charset="UTF-8"/>
    <title>Log In</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<h1>Log In</h1>
<!--<div th:if="${param.error}">-->
<!--  Invalid Username and Password.-->
<!--</div>-->


<div class="error" th:if="${param.error}"
     th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
    Error: <span th:text="${errorMsg}">error</span>
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="login">
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text"/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
        <input type="submit" value="Log In"/>
    </form>
</div>
<br>
<br>

<footer><p th:replace="partials/footer :: footer"></p></footer>
</body>
</html>