<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <div th:replace="partials/header.html :: header"></div>
</head>
<body>
<div th:replace="partials/navbar.html :: navbar"></div>

<div class="container">

    <div class="col-12">

        <div class="center">
            <h1>Chat Log</h1>
        </div>

        <h3 class="center" th:text="${otheruser.getUsername()}"></h3>

        <div class="mb-4" th:each="text : ${messages}">

            <div class="sent-message"
                 th:if="${text.getSender() == loggedinuser && text.getReceiver() ==  otheruser}">
                <p th:text="${text.getContent()}"></p>
            </div>
            <div class="received-message"
                 th:if="${text.sender == otheruser && text.receiver == loggedinuser}">
                <p th:text="${text.getContent()}"></p>
            </div>
        </div>

        <div>
            <form th:method="POST" th:action="@{'/messages/' +  ${otheruser.getId()}}" th:object="${userMessage}">
                <label>
                    <textarea required cols="100" rows="5" th:field="*{content}"></textarea>
                </label>
                <button type="submit" class="btn btn-info">Send</button>
            </form>
        </div>

    </div>



</div>


</body>
</html>