<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<div>
    <h1>Send A Message</h1>
    <form action="#" th:action="@{/messages}" method="post" th:object="${messages}">
        <label>Message</label>
        <div th:each="messages : ${messages}">
            <label>
                <input type="text" th:field="*{messages.content}"/>
            </label>

            <input type="hidden" th:field="*{messages.timestamp}"/>

            <button type="submit">Send</button>
        </div>
    </form>

</div>

</body>
</html>