<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="/css/messaging.css">
    <div th:replace="partials/header :: head"></div>
</head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div class="container">

    <div class="col-12 bordered">


        <div class="center">
            <h1>Chat Log</h1>
        </div>


        <div th:each="text : ${messages}">

            <div class="mb-4-sent">
                <th:block th:if="${text.getSender().getId() == loggedinuser.getId()}">

                    <div class="toast" data-delay="604800000" data-bs-autohide="false" role="alert"
                         aria-live="assertive"
                         aria-atomic="true">
                        <div class="toast" data-delay="604800000" data-bs-autohide="false" role="alert"
                             aria-live="assertive"
                             aria-atomic="true">
                            <div class="toast-body">
                                <div class="message-sent">
                                    <p style="text-align:left" th:text="${text.getContent()}"></p>
                                    <small>Sent by you on <span th:text="${text.getTimestamp()}"></span>
                                    </small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>

            <!--        <div class="mb-4-received" th:each="text: ${messages}">-->

            <th:block th:if="${text.getSender().getId() == otheruser.getId()}">
                <div class="toast" data-delay="604800000" data-bs-autohide="false" role="alert" aria-live="assertive"
                     aria-atomic="true">

                    <div class="toast-body">
                        <div class="message-received">
                            <p style="text-align:left" th:text="${text.getContent()}"></p>
                            <small><br>Sent by <span th:text="${otheruser.getUsername()}"></span> on
                                <span th:text="${text.getTimestamp()}"></span> </small></p>
                        </div>
                    </div>
                </div>
            </th:block>


        </div>


        <div>
            <form th:method="POST" th:action="@{'/messages/' +  ${otheruser.getId()}}" th:object="${userMessage}">
                <label>
                    <textarea required cols="100" rows="5" th:field="*{content}"></textarea>
                </label>
                <button type="submit" class="btn" style="color: white; background-color: #164A41">Send Message</button>
            </form>
        </div>


    </div>


</div>

<script>
    $('document').ready(function () {
        $('.toast').toast('show')
    });
</script>


</body>
</html>