<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <div th:replace="Partials :: header"></div>
</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container">

    <div class="col-12">

        <div class="center">
            <h1>Chat Log</h1>
        </div>

        <h3 class="center" th:text="${otheruser.getUsername()}"></h3>

        <div class="mb-4" th:each="message : ${messages}">

            <div class="sent-message"
                 th:if="${message.getSender() == loggedinuser && message.receiver ==  otheruser}">
                <p th:text="${message.getContent()}"></p>
            </div>


        </div>

    </div>


</div>


</body>
</html>