<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>


</head>
<body>
<!--Search works, fix searching for what-->
<!--Needs API key-->

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<input id="search" ><button onclick="getIngredient(document.getElementById('search').value)">Search</button>
<div id="output"></div>
<a href="/groceryLists" id="sourceLink">Add Item</a>
<script>

    function getSource(id) {
        $.ajax({
            method: "GET",
            url: "https://api.spoonacular.com/recipes/"+id+"/information?apiKey=&includeNutrition=true",
            success: function(data) {
                console.log(data);
                            document.getElementById("sourceLink").innerHTML=data.sourceUrl
                            document.getElementById("sourceLink").href=data.sourceUrl
            }
        })
    }

    function getRecipe(q){
        $.ajax({
            url:"https://api.spoonacular.com/recipes/search?apiKey=&number=1&query="+q,
            success: function(res) {
                document.getElementById("output").innerHTML="<h1>"+res.results[0].title+"</h1>"
                getSource(res.results[0].id)
            }
        });
    }

    function getSourceIngredient(id) {
        $.ajax({
            method: "GET",
            url: "https://api.spoonacular.com/food/ingredients/"+id+"/information?apiKey=",
            success: function(data) {
                console.log(data);
                document.getElementById("sourceLink").innerHTML=data.sourceUrl
                document.getElementById("sourceLink").href=data.sourceUrl
            }
        })
    }

    function getIngredient(q){
        $.ajax({
            url:"https://api.spoonacular.com/food/ingredients/search?apiKey=&number=1&query="+q,
            success: function(res) {
                document.getElementById("output").innerHTML="<h1>"+res.results[0].name+"</h1>"
                getSourceIngredient(res.results[0].id)
            }
        });
    }



</script>

<!--&lt;!&ndash;<form th:action="@{/search}" th:method="post" th:object="${post}">&ndash;&gt;-->

<!--&lt;!&ndash;    <input type="text" th:field="*{title}" placeholder="Item">&ndash;&gt;-->
<!--<input id="search">-->
<!--<button onclick="getItem(document.getElementById('search').value)">Search</button>-->
<!--<div id="output"></div>-->
<!--<a href="" id="sourceLink"></a>-->



<!--<script>-->



</body>
</html>