<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="partials/header :: head">
  <meta charset="UTF-8">
  <title>View Profile</title>
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<button type="submit"><a th:href="@{/messages/{otherUserId}(otherUserId=${user.getId()})}">Message</a></button>

  <div th:each="user : ${user}">

    <h1 th:text="${user.getUsername()}"></h1>

  </div>

  <div th:each="groceryLists : ${groceryLists}">

    <h3 th:text="${groceryLists.name}"></h3>

  </div>





<div th:replace="partials/footer::footer"></div>
</body>
</html>