<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Profile</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1> View Your Profile Information Here</h1>
<div class="justify-content-center" >
    <div th:each="user : ${user}">
        <div th:text="${user.getUsername()}"></div>
        <div th:text="${user.getFirstName()}"></div>
        <div th:text="${user.getLastName()}"></div>
    </div>
</div>

<div th:replace="partials/footer::footer"></div>
</body>
</html>