/*.column {*/
/*    display: flex;*/
/*    float: left;*/
/*    justify-content: center;*/
/*    width: 20%;*/
/*    padding: 10px;*/
/*}*/

.jumbotron {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    position: relative;
    left: 25%;
    /*transform: translate(-50%, -50%);*/
    width: 50%;
    /*height: 300px;*/
    /*/*opacity: 60%;*/
    /*bottom: 0px;*/
    text-align: center;
    /*color: black;*/
}

main {
    background: #9DC88D;
    /*color: #F1B24A;*/
}

#saveButton {
    background-color: #164A41;
    color: white;
}

#test-col {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
}

/* Added section 11/11/21*/
.scroll {
    max-height: 100px;
    overflow-y: auto;
}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.searchBox {
    display: block;
    margin-left: auto;
    /*margin-right: auto;*/
    width: 15%;
}

.display-4{
    background: #164A41;
    color: aliceblue;
}

.card-container{
    background: #9DC88D;
}