<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyThyme</title>
    <link rel="stylesheet" href="/css/index.css">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>-->



</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main>

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="padding: 24px; font-size: 6rem; width: 100%">MyThyme</h1>
        <hr class="my-4">
        <p>MyThyme is an app designed to make cost effective shopping seamless for everyone. Users can select items they wish to buy, and will be given costs of those items at various locations, making deciding where to buy from simple. Users can also save and share their created grocery lists, while also being provided recommended recipes based on items on their list. MyThyme was created by a group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" th:href="@{/sign-up}" role="button" id="saveButton">Get Started!</a>
        </p>
    </div>
</div>
<br>
<br>


<!--Food and Drink Categories-->
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="card text-center border-0 bg-transparent">
                <div class="card-body">
                    <h6><a href="/categories/maincourse">Main Courses</a></h6>
                    <a href="/categories/maincourse"><img src="/img/maincourse.png" width="100" height="80" ></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center border-0 bg-transparent">
                <div class="card-body">
                    <h6><a href="/categories/sidedishes">Side Dishes</a></h6>
                    <a href="/categories/sidedishes"><img src="/img/side.png" width="100" height="80"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center border-0 bg-transparent">
                <div class="card-body">
                    <h6><a href="/categories/appetizers">Appetizers</a></h6>
                    <a href="/categories/appetizers"><img src="/img/apps.png" width="100" height="80"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center border-0 bg-transparent">
                <div class="card-body">
                    <h6><a href="/categories/bread">Bread & Baking</a></h6>
                    <a href="/categories/bread"><img src="/img/bread.png" width="100" height="80"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center border-0 bg-transparent">
                <div class="card-body">
                    <h6><a href="/categories/beverages">Beverages</a></h6>
                    <a href="/categories/beverages"><img src="/img/beverage.png" width="100" height="80"></a>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card text-center border-0 bg-transparent">
                <div class="card-body">
                    <h6><a href="/categories/desserts">Desserts</a></h6>
                    <a href="/categories/desserts"><img src="/img/dessert.png" width="100" height="80"></a>

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<br>
<br>
<div class="container" style="display: flex; flex-direction: row">
    <div class="card ml-3" style="width: 18rem"><!-- class="bg-transparent" -->
     <div class="card-body" style="display: flex; flex-direction: column; background-color: #f1b24a">
         <h5 class="card-title text-light font-weight-bold" style="display: flex; flex-direction: row; border: #164A41; text-align: center">Grandma's Secret Chocolate Chip
                 Cookies</h5> <!-- ${data.recipes[i].title} -->
         <img class="centerImg shadow bg-white rounded"
              src="https://www.errenskitchen.com/wp-content/uploads/2019/02/chocolate-chip-cookies-3-500x375.jpg"
              style="display: flex; flex-direction: row; width: 8rem; length: 8rem; border: #164A41 2px solid"> <!-- ${data.recipes[i].image} -->
         <br>
             <p class="card-text scroll shadow p-3 mb-5 rounded" style="display: flex; flex-direction: row; background-color: #ffffff; color: #000">
                     MyThyme is an app designed to make cost effective shopping seamless for everyone.
                     Users can select items they wish to buy, and will be given costs of those items at various
                     locations,
                     making deciding where to buy from simple. Users can also save and share their created grocery lists,
                     while also being provided recommended recipes based on items on their list. MyThyme was created by a
                     group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.

                     MyThyme is an app designed to make cost effective shopping seamless for everyone.
                     Users can select items they wish to buy, and will be given costs of those items at various
                     locations,
                     making deciding where to buy from simple. Users can also save and share their created grocery lists,
                     while also being provided recommended recipes based on items on their list. MyThyme was created by a
                     group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.
                 </p> <!-- ${data.recipes[i].summary} -->
             <a href="#" class="btn centerImg shadow p-3 mb-2 mbr-2 rounded" style="width: 80%; color: white; background-color: #164A41">View
                     recipe</a> <!-- background-color: #f1b24a-->
     </div>
 </div>
    <!--2nd card-->
    <div class="card ml-3" style="width: 18rem"><!-- class="bg-transparent" -->
        <div class="card-body" style="display: flex; flex-direction: column; background-color: #f1b24a">
            <h5 class="card-title text-light font-weight-bold" style="display: flex; flex-direction: row; border: #164A41; text-align: center">Grandma's Secret Chocolate Chip
                Cookies</h5> <!-- ${data.recipes[i].title} -->
            <img class="centerImg shadow bg-white rounded"
                 src="https://www.errenskitchen.com/wp-content/uploads/2019/02/chocolate-chip-cookies-3-500x375.jpg"
                 style="display: flex; flex-direction: row; width: 8rem; length: 8rem; border: #164A41 2px solid"> <!-- ${data.recipes[i].image} -->
            <br>
            <p class="card-text scroll shadow p-3 mb-5 rounded" style="display: flex; flex-direction: row; background-color: #ffffff; color: #000">
                MyThyme is an app designed to make cost effective shopping seamless for everyone.
                Users can select items they wish to buy, and will be given costs of those items at various
                locations,
                making deciding where to buy from simple. Users can also save and share their created grocery lists,
                while also being provided recommended recipes based on items on their list. MyThyme was created by a
                group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.

                MyThyme is an app designed to make cost effective shopping seamless for everyone.
                Users can select items they wish to buy, and will be given costs of those items at various
                locations,
                making deciding where to buy from simple. Users can also save and share their created grocery lists,
                while also being provided recommended recipes based on items on their list. MyThyme was created by a
                group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.
            </p> <!-- ${data.recipes[i].summary} -->
            <a href="#" class="btn centerImg shadow p-3 mb-2 mbr-2 rounded" style="width: 80%; color: white; background-color: #164A41">View
                recipe</a> <!-- background-color: #f1b24a-->
        </div>
    </div>
    <!--3rd card-->
    <div class="card ml-3" style="width: 18rem"><!-- class="bg-transparent" -->
        <div class="card-body" style="display: flex; flex-direction: column; background-color: #f1b24a">
            <h5 class="card-title text-light font-weight-bold" style="display: flex; flex-direction: row; border: #164A41; text-align: center">Grandma's Secret Chocolate Chip
                Cookies</h5> <!-- ${data.recipes[i].title} -->
            <img class="centerImg shadow bg-white rounded"
                 src="https://www.errenskitchen.com/wp-content/uploads/2019/02/chocolate-chip-cookies-3-500x375.jpg"
                 style="display: flex; flex-direction: row; width: 8rem; length: 8rem; border: #164A41 2px solid"> <!-- ${data.recipes[i].image} -->
            <br>
            <p class="card-text scroll shadow p-3 mb-5 rounded" style="display: flex; flex-direction: row; background-color: #ffffff; color: #000">
                MyThyme is an app designed to make cost effective shopping seamless for everyone.
                Users can select items they wish to buy, and will be given costs of those items at various
                locations,
                making deciding where to buy from simple. Users can also save and share their created grocery lists,
                while also being provided recommended recipes based on items on their list. MyThyme was created by a
                group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.

                MyThyme is an app designed to make cost effective shopping seamless for everyone.
                Users can select items they wish to buy, and will be given costs of those items at various
                locations,
                making deciding where to buy from simple. Users can also save and share their created grocery lists,
                while also being provided recommended recipes based on items on their list. MyThyme was created by a
                group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.
            </p> <!-- ${data.recipes[i].summary} -->
            <a href="#" class="btn centerImg shadow p-3 mb-2 mbr-2 rounded" style="width: 80%; color: white; background-color: #164A41">View
                recipe</a> <!-- background-color: #f1b24a-->
        </div>
    </div>

</div>



    <!--fake card container-->
<!--<div class="container" style="display: flex; flex-direction: row">-->
<!--    <div class="card" style="width: 18rem;">&lt;!&ndash; class="bg-transparent" &ndash;&gt;-->
<!--     <div class="card-body" style="background-color: #f1b24a">-->
<!--         <h5 class="card-title text-light font-weight-bold" style="display: flex; flex-direction: row; border: #f1b24a; text-align: center">Grandma's Secret Chocolate Chip-->
<!--                 Cookies</h5> &lt;!&ndash; ${data.recipes[i].title} &ndash;&gt;-->
<!--         <img class="centerImg shadow bg-white rounded"-->
<!--              src="https://www.errenskitchen.com/wp-content/uploads/2019/02/chocolate-chip-cookies-3-500x375.jpg"-->
<!--              style="display: flex; flex-direction: row; width: 8rem; length: 8rem; border: #9DC88D 2px solid"> &lt;!&ndash; ${data.recipes[i].image} &ndash;&gt;-->
<!--         <br>-->
<!--             <p class="card-text scroll shadow p-3 mb-5 rounded" style="word-wrap: break-word; display: flex; flex-direction: row; background-color: #ffffff; color: #164A41">-->
<!--                     MyThyme is an app designed to make cost effective shopping seamless for everyone.-->
<!--                     Users can select items they wish to buy, and will be given costs of those items at various-->
<!--                     locations,-->
<!--                     making deciding where to buy from simple. Users can also save and share their created grocery lists,-->
<!--                     while also being provided recommended recipes based on items on their list. MyThyme was created by a-->
<!--                     group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.-->

<!--                     MyThyme is an app designed to make cost effective shopping seamless for everyone.-->
<!--                     Users can select items they wish to buy, and will be given costs of those items at various-->
<!--                     locations,-->
<!--                     making deciding where to buy from simple. Users can also save and share their created grocery lists,-->
<!--                     while also being provided recommended recipes based on items on their list. MyThyme was created by a-->
<!--                     group of 4 developers, utilizing Java, JavaScript, MySQL, Spring Boot, HTML, CSS and several APIs.-->
<!--                 </p> &lt;!&ndash; ${data.recipes[i].summary} &ndash;&gt;-->
<!--             <a href="#" class="btn centerImg shadow p-3 mb-2 mbr-2 rounded" style="width: 80%; color: #ffffff; background-color: #164A41">View-->
<!--                     recipe</a> &lt;!&ndash; background-color: #f1b24a&ndash;&gt;-->
<!--     </div>-->
<!-- </div>-->



<!--Scrolling main content-->
<div class="container">
<div class="card-group" id="test-col">

</div>
</div>
<br>
<br>

</main>
<div th:replace="partials/footer::footer"></div>

<script src="/js/jquery.js"></script>
<script src="/keys.js"></script>
<script src="/js/test.js"></script>

</body>
</html>