<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Create grocery list</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <!--    New Template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <!--    New Template -->
    <script defer src="/create.js"></script>
<!--    New Template -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<section th:fragment="content">
<!--    <div class="container">-->
        <div class="hero-unit">
            <h1>Create Grocery List</h1>
        </div>
    <!-- Form that allows user to create grocery list and save-->
        <form th:action="@{/create}" th:method="post" th:object="${grocery_list}">
            <!--ENTER NAME OF LIST-->
            <div class="form-group">
                <label for="title"></label>
                <input id="title" th:field="*{name}"/>
            </div>
            <br>
            <!--ADD ITEMS TO LIST w/ ITEM, AMNT, NOTES-->
            <div id="additionalItems">
                <h1> Add Items</h1>
                <div class="form-group tbl_code_with_mark" id="addedItemList">
                    <label for="name[]">Item:</label>
                    <input type="text" name="name[]" id="name[]">
                    <label for="quantity[]">Quantity:</label>
                    <input type="text" name="quantity[]" id="quantity[]">
                    <label for="notes[]">Notes:</label>
                    <input type="text" name="notes[]" id="notes[]">
<!--                    <button id="addItemButton" class="btn btn-sm btn-success btn_row_below_new" >+</button>-->
                    <span id="addItemButton" class="btn btn-sm btn-success btn_row_below_new">+</span>
                    <span id="removeItemButton" class="btn btn-sm btn-danger btn_row_delete">-</span>
                </div>
<!--                <button type="button" class="btn delete btn-secondary">Remove</button>-->
<!--                <button id="addItemButton" type="button" class="btn create btn-secondary">+</button>-->
            </div>
            <br>
<!--                <input type="button" class="btn btn-sm btn-danger btn_row_delete btn-secondary">-</input>-->
            <!--       ****** deleting *****  <button type="button" class="btn btn-danger delete btn-secondary">X</button>-->

    <!--            <button onclick="addelement();" id="thelist">Share</button>-->
    <!--            <input value="Save" type="submit"><a th:href="@{/groceryList/groceryLists}"></a>-->
            <div>
<!--                <button class="btn delete buttonClass deleteMe" data-delete-list-button>Clear List</button> &lt;!&ndash;onclick="removeItem()"&ndash;&gt;-->
                <button><a href="" class="btn delete buttonClass deleteMe" data-delete-list-button>Clear</a></button>
<!--                <button value="reset" class="btn delete buttonClass deleteMe" data-delete-list-button>Clear List</button>-->
                <button value="Save" type="submit">save</button>
<!--                <a th:href="@{/groceryLists}">Save</a>-->

<!--                <button value="Save" type="submit"><a th:href="@{/groceryLists}">Save</a></button>&lt;!&ndash;working&ndash;&gt;-->
<!--                <button value="Save" type="submit" th:href="@{/groceryLists}">Save</button>todo last used-->
<!--                <button value="Save" type="submit"><a th:href="@{/groceryLists}" th:placeholder="Save"></a>Save</button> OLD BUTTON SET UP FOR SAVING LIST-->
            </div>
        </form>

<!--    <button value="Save" type="submit"><a th:href="@{/groceryLists}">Save</a></button>-->
    <!-- Form Script -->
    <script>
        "use strict";
        window.onload = (function() {
            const additionalItem = document.getElementById('addItemButton');
            const removeItem = document.getElementById('removeItemButton');

            // Section grabs form information
            const itemForm =
                `<div class="form-group">
                  <label for="name[]">Item:</label>
                  <input type="text" name="name[]" id="name[]">
                  <label for="quantity[]">Quantity:</label>
                  <input type="text" name="quantity[]" id="quantity[]">
                  <label for="notes[]">Notes:</label>
                  <input type="text" name="notes[]" id="notes[]">
                  <span id="removeItemButton" class="btn btn-sm btn-danger btn_row_delete">-</span>
                </div>`

            // Add button feature
            additionalItem.addEventListener('click', function(event) {
                event.preventDefault();

                const addedItem = document.getElementById('additionalItems');
                let newAddedItem = document.createElement("div");
                newAddedItem.innerHTML = itemForm;
                addedItem.appendChild(newAddedItem);
            });

            //Remove button feature removeChild()
            removeItem.removeEventListener('click', function(event) {
                event.preventDefault();

                const removeItem = document.getElementById('removingItem');
                let newRemovedItem = document.removeChild("additionalItem");// *** CHECK THIS SECTION? ****
                newRemovedItem.innerHtml = itemForm;
                // removeItem.remove(newRemovedItem);//appendChild(newRemovedItem) old Entry
                $("newRemovedItem").remove();
            });



            // Creating a function to remove item from list
            // function removeItem() {
            //
            //     // Declaring a variable to get select element
            //     var a = document.getElementById("list");
            //     var candidate = document.getElementById("candidate");
            //     var item = document.getElementById(candidate.value);
            //     a.removeChild(item);
            // }
        })
    </script>

    <!-- todo Script with DELETE functionality below -->
    <script>
        $(document).ready(function($){
            //executes function on click with class 'btn_row_add_below_end'
            $(document).on('click',".btn_row_add_below_end", function(e){
                var tableBody = $(document).find('.tbl_code_with_mark').find("tbody");
                var trLast = tableBody.find("tr:last");
                var trNew = trLast.clone();
                trLast.after(trNew);
            });
            // ---> add row at end > btn_row_add_below_end

            // ---> current row > new > start
            $(document).on('click', ".btn_row_below_new", function(e){
                var r = $(this).closet('tr').clone(); //might NEED to cap Clone

                $.each(r.find('td'), function(i1,v1){
                    //clear all data/value in td/cell
                    $(this).html('');
                }) ;

                $(this).closet('tr').after(r);
            });
            // ---> current row > new > end

            // ---> current row > clone > start
            $(document).on('click',".btn_row_below_clone", function(e){
                var r = $(this).closet('tr').clone();
                $(this).closet('tr').after();
            });
            // ---> current row > clone > end

            // todo DELETE FEATURE BELOW
            // ---> current row > ***** DELETE ***** > start
            $(document).on('click',".btn_row_delete", function(e){
                var r = $(this).closest('div').remove(); //chng frm closest('tr') to closest('div')
            });
            // ---> current row > ***** DELETE ***** > end
        });
    </script>
</section>

<!--        <div th:replace="partials/footer::footer"></div>-->
<!--    <footer><p th:layout:fragment="footer"></p></footer>-->
    </body>
</html>

<!--        <div class="delete-stuff">-->
<!--            <button class="btn delete" data-clear-complete-tasks-button>Clear completed tasks</button>-->
<!--            <button class="btn delete" data-delete-list-button>Delete list</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--todo Thursday 11/4/2021 looking at adding this to form as option for deleting information from form-->

<!--// Find and remove selected table rows-->
<!--$(".delete-row").click(function(){-->
<!--$("table tbody").find('input[name="record"]').each(function(){-->
<!--if($(this).is(":checked")){-->
<!--$(this).parents("tr").remove();-->
<!--}-->
<!--});-->
<!--});-->