<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<section th:fragment="content">

    <div th:if="${!isFavorited}" class="container">

        <form th:action="@{|/groceryLists/edit/${id}/favorite|}" class="favoriteBtn" th:method="post">
            <button  type="submit" >Favorite</button>
        </form>
    </div>

    <div th:if="${isFavorited}" class="container">
        <form th:action="@{|/groceryLists/edit/${id}/unfavorite|}" class="unFavoriteBtn" th:method="post">
            <button  type="submit" >Unfavorite</button>
        </form>
    </div>

    <div class="container">
        <form th:action="@{|/groceryLists/edit/${id}|}" th:method="post" th:object="${grocery_list}">
            <div class="form-group">
                <input type="text" th:field="*{name}" th:placeholder="name">
                <input type="hidden" th:field="*{shareURL}" th:placeholder="shareURL"> <!-- Hidden so users can't edit -->
            </div>



            <div id="editIngredients">
                <h1>Edit Ingredients</h1>
                <div th:each="ingredient : ${groceryListIngredients}">
                    <div class="form-group">
                        <label for="name[]">Item:</label>
                        <input type="text" name="name[]" id="name[]" th:value="${ingredient.ingredient.name}">
                        <label for="quantity[]">Quantity:</label>
                        <input type="text" name="quantity[]" id="quantity[]" th:value="${ingredient.getQuantity()}">
                        <label for="notes[]">Notes:</label>
                        <input type="text" name="notes[]" id="notes[]" th:value="${ingredient.getNotes()}">

                    </div>
                </div>
            </div>
            <input value="Save List" type="submit"/>
        </form>
    </div>


 NEED TO UPDATE DELETE FUNCTIONALITY
<form th:action="@{|/groceryLists/delete/${id}|}" th:method="post">
    <button type="submit">Delete List</button>
</form>

</section>

<div th:replace="partials/footer::footer"></div>

</body>
</html>