<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<section th:fragment="content">

    <div class="container">
        <form th:action="@{|/groceryLists/edit/${id}|}" th:method="post" th:object="${grocery_list}">
            <div class="form-group">
                <input type="text" th:field="*{name}" th:placeholder="name">
                <input type="hidden" th:field="*{shareURL}" th:placeholder="shareURL"> <!-- Hidden so users can't edit -->
            </div>

            <div id="editIngredients">
                <h1>Edit Ingredients</h1>
                <div class="form-group">

                </div>
            </div>
        </form>
    </div>


<!-- NEED TO UPDATE DELETE FUNCTIONALITY -->
<!--<form th:action="@{|/groceryLists/delete/${id}|}" th:method="post">-->
<!--    <button type="submit">Delete List</button>-->
<!--</form>-->

</section>

</body>
</html>