<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h2>Viewing all Lists</h2>

<div sec:authorize="isAuthenticated()" >

    <button type="submit"><a th:href="@{/create}">Create New List</a></button>

</div>

<div th:each="groceryList:${groceryLists}">
    <h2 th:text="${groceryList.name}"></h2>
    <button type="submit"><a th:href="@{/groceryLists/edit/{id}(id=${groceryList.id})}">Edit List</a></button>
    <button type="submit">This will be the share button</button>

</div>

<script src="../../js/jquery.js"></script>
<script src="../../js/jquery_functions.js"></script>

<div th:replace="partials/footer::footer"></div>
</body>
</html>