<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>Lists</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>



    <div><button onclick="goBack()">Back</button></div>

    <h1 th:text="${groceryList.name}"></h1>

    <div th:each="ingredient : ${groceryListIngredients}">
        <div class="form-group">

            <label th:text=" 'Item: ' + ${ingredient.ingredient.name}"></label>
            <br>
            <label th:text=" 'Quantity: ' + ${ingredient.getQuantity()}"></label>
            <br>
            <label th:text=" 'Notes: ' + ${ingredient.getNotes()}"></label>

            <br>
        </div>
    </div>

    <button type="submit" id="copyURL" onclick="copyUrl()">Copy URL</button>


    <div>Created By: <a th:href="@{|/profile/${groceryList.getOwner().getId()}|}" th:text="${groceryList.owner.username}"></a></div>

<!--    <form th:action="@{|/groceryLists/delete/${groceryList.id}|}" th:method="post">-->
<!--        <button type="submit">Delete List</button>-->
<!--    </form>-->
<script type="text/javascript">
    function copyUrl() {
        navigator.clipboard.writeText(location.href);

    }
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>

<div th:replace="partials/footer::footer"></div>

</body>
</html>