<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>Lists</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">

    <div th:text="${groceryList.name}">List Name</div>

    <a th:href="@{/groceryLists/edit/{shareURL}(shareURL=${groceryList.shareURL})}">Edit List</a>

    <div>Created By: <span th:text="${groceryList.owner.username}"></span></div>

<!--    <form th:action="@{|/groceryLists/delete/${groceryList.id}|}" th:method="post">-->
<!--        <button type="submit">Delete List</button>-->
<!--    </form>-->
</div>

</body>
</html>