<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="partials/header :: head">
    <meta charset="UTF-8">
    <title>Lists</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div sec:authorize="isAuthenticated()">

    <div th:text="${groceryList.name}"></div>

    <div th:each="ingredient : ${groceryListIngredients}">
        <div class="form-group">
            <label th:value="${ingredient.ingredient.name}">Item:</label>
            <br>
            <label th:value="${ingredient.getQuantity()}">Quantity:</label>
            <br>
            <label th:value="${ingredient.getNotes()}">Notes:</label>
            <br>
        </div>
    </div>


    <div>Created By: <a th:href="@{/profile}" th:text="${groceryList.owner.username}"></a></div>

<!--    <form th:action="@{|/groceryLists/delete/${groceryList.id}|}" th:method="post">-->
<!--        <button type="submit">Delete List</button>-->
<!--    </form>-->
</div>

<div th:replace="partials/footer::footer"></div>

</body>
</html>